@font-face {
    font-family: 'FrederickatheGreat';
    src: url('../css/fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    overflow: hidden;
}

.menu-container {
    background-image: url('../css/Partchment_bk.jpg');
    background-size: cover;
    position: relative;
    display: none;
    box-sizing: border-box;
    overflow: auto;
    width: 90vw;
    max-width: 575px;
    height: 90vh;
    max-height: 675px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 3px solid #8B4513;
    overflow-x: hidden;
    font-family: 'FrederickatheGreat','Georgia', serif;
}



@media (max-width: 600px) {
    .menu-container {
        padding: 20px;
    }
}

.menu-container:before, .menu-container:after {
    content: '';
    position: absolute;
    top: 10%;
    width: 10px;
    height: 80%;
    background-color: #8B4513;
    border-radius: 5px;
}

.menu-container:before {
    left: -16px;
}

.menu-container:after {
    right: -16px;
}



.recipe {
    border: 2px solid #936f3d;
    margin: 10px;
    padding: 10px;
    background-color: #fac89f;
    box-shadow: inset 0 0 5px #987d4f;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s;
}

.recipe:hover {
    background-color: #f5ba92;
    box-shadow: 0 4px 10px #391d0f;
}

.btn-craft, .btn-next, .btn-prev {
    margin-left: 10px;
    background-color: #8B4513;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s;
}

.btn-craft:hover, .btn-next:hover, .btn-prev:hover {
    background-color: #702d10;
    transform: translateY(-2px);
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#close-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    background-color: #8B4513;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    font-size: 20px; /
  }
  
  #close-menu:hover {
    background-color: #702d10;

  }
  

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'FrederickatheGreat', 'Georgia', serif;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.recipe p, .recipe li {
    font-size: 14px;
}
